html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url(../images/login_bg.jpg) no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

.logo {
    position: absolute;
    top: 20px;
    left: 40px;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 310px;
    background-color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 0 30px;
}

.content .title {
    height: 60px;
    /* 给父元素设置flex布局 主侧轴设置居中对齐 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.link a {
    float: right;
}

.layui-form-item {
    position: relative;
}


/* 定位输入框上的图标 */

.layui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.layui-input {
    padding-left: 35px;
}